.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
#conditions {
    width: 100px;
}

#main_pic {
  width: 200px;
}

#tempC {
  text-align: center;
}

#wind {
  text-align: center;
}

h1 {
  text-align: center;
}